:root {
    --color-primary: #eeeeee;
    --color-secondary: #000;
    --color-accent: #4e4feb;
    --color-background: #068fff;
    --titulos: 40px;
    --parrafos: 16px;
    --Textos: 14px;
    --subtitulos: 24px;
    --anuncios: 16px;
    --botones: 18px;
    --letra-botones: "Black Ops One", cursive;
    --letra-subtitulos: "Raleway", sans-serif;
    --letra-textos: "Montserrat", sans-serif;
    --letra-anuncios: "Titillium Web", sans-serif;
    --letra-titulos: "Roboto", sans-serif;
    --letra-enlaces: "Exo 2", sans-serif;
    --letra-principal: "New Rocker", cursive;
  }
  
  body {
    background-color: var(--color-secondary);
    padding: 0px;
  }

  /*Header*/
  header{
    background-color: var(--color-secondary);
    padding: 0px;
  }

  /*Barra de navegación principal*/
.container-nav {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-nav {
  width: 7rem;
  margin-left: 2rem;
}

.navbar-title {
  width: 100%;
  margin-left: 2rem;
}

.container-lista {
  width: 100%;
}

.nav-lista {
  list-style: none;
  display: flex;
  margin: 0 10px;
  padding: 5px 8px;
  gap: 10px;
  height: auto;
  width: auto;
  align-self: center;
}

.nav-item {
  background-color: var(--color-accent);
  color: var(--color-secondary);
  font-size: var(--botones);
  border-radius: 4px 2px 2px;
  border-width: 2px 2px 0px 2px;
  border-style: solid;
  border-color: var(--color-secondary);
  font-size: var(--botones);
  font-family: var(--letra-botones);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 1px 10px;
  margin: 0;
}

.nav-item:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  box-shadow: 0 3px 20px var(--color-background);
  padding: 1px 10px;
}

.nav-item a {
  font-size: 18px;
  max-width: 95%;
}
  /*Menu*/
.menu-principal {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.barra-exp {
  width: 95%;
  border: 3px solid var(--color-primary);
  position: relative;
  top: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 20px auto;
}

#Experiencia-laboral {
  align-self: center;
  font-family: var(--letra-principal);
  font-size: var(--titulos);
  color: var(--color-background);
  margin: 20px;
  text-shadow: 1.5px 2px 2px var(--color-primary);
  letter-spacing: 10px;
}

#Experiencia-laboral:hover {
  align-self: center;
  font-family: var(--letra-principal);
  font-size: var(--titulos);
  color: var(--color-accent);
  margin: 20px;
  text-shadow: 1.5px 2px 1px var(--color-primary);
}

.contenedor-experiencia {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: var(--color-secondary);
  border-color: 2px solid var(--color-primary);
  border-radius: 15px;
  box-shadow: 0px 2px 30px var(--color-background);
  width: 90%;
  height: 100%;
  margin: 15px auto;
  padding: 10px;
}

.Experiencia {
  width: 95%;
  display: flex;
  flex-direction: column;
  border: 2px var(--color-secondary) solid;
  border-radius: 2px;
  box-shadow: 0px 5px 15px var(--color-accent);
  background-color: var(--color-primary);
  padding: 10px;
  margin: 15px auto;
  align-items: center;
}

.cartas-col-12 {
  margin: 0 auto;
  justify-content: center;
}

.contratos {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
}

#titulocontratos {
  font-size: var(--subtitulos);
  color: var(--color-secondary);
  font-family: var(--letra-titulos);
  text-shadow: 2px 4px 3px var(--color-background);
  text-decoration: none;
  text-align: center;
  margin: 15px;
}
.sec-contr {
  display: flex;
  width: 100%;
}

.row-cartas {
  width: 27%;
}
.card {
  background-color: var(--color-secondary);
  width: 100%;
  margin: 10px;
  border-radius: 5px;
}

.card-body {
  background-color: var(--color-accent);
  padding: 10px;
  margin: 2px;
}

.card-title {
  font-family: var(--letra-botones);
  font-size: var(--subtitulos);
}
.card-subtitle {
  font-family: var(--letra-subtitulos);
  font-size: var(--botones);
  color: var(--color-primary) !important;
}

.card-text {
  color: var(--color-secondary);
  font-family: var(--letra-textos);
  font-size: var(--parrafos);
}

.card-fecha,
.parrafolugar,
.parrafoexpe {
  font-family: var(--letra-textos);
  font-size: var(--Textos);
}

#titulofreelance {
  font-size: var(--subtitulos);
  color: var(--color-secondary);
  font-family: var(--letra-titulos);
  text-shadow: 2px 4px 3px var(--color-background);
  text-decoration: none;
  text-align: center;
  margin: 15px;
}
.Freelance {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#tituloindependiente {
  font-size: var(--subtitulos);
  color: var(--color-secondary);
  font-family: var(--letra-titulos);
  text-shadow: 2px 4px 3px var(--color-background);
  text-decoration: none;
  text-align: center;
  margin: 15px;
}

.Independiente {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.Experiencia .parrafoexp {
  color: var(--color-primary);
  font-size: var(--parrafos);
  text-align: end;
  width: 98%;
  height: auto;
  color: var(--color-background);
  text-shadow: 1px 2px 1px var(--color-accent);
  box-shadow: 0 0 1px var(--color-primary);
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 10px 10px;
}

.parrafoexp {
  background-color: transparent;
  font-family: var(--letra-textos);
  transition: box-shadow 0.3s ease;
  transition: background-color 0.3s ease;
  padding: 10px;
}

.parrafoexp:hover {
  box-shadow: 0 0 10px var(--color-background);
  background-color: var(--color-secondary);
  text-shadow: 1px 2px 1px var(--color-background);
  color: var(--color-primary);
}

/* Footer */
#contactos {
    width: 100%;
    overflow: hidden;
    background: var(--color-secondary);
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  #contactos:hover {
    background-color: var(--color-background);
    color: var(--color-secondary);
    box-shadow: 0px -5px 10px var(--color-primary);
    overflow-x: hidden;
  }
  
  .enlaces-footer {
    width: 30%;
    font-family: var(--letra-enlaces);
    font-size: var(--parrafos);
    text-decoration: none;
    margin: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  
  .enlaces-footer img {
    width: 100%;
  }
  
  .logo1:hover {
    transform: scale(1.2);
    border-radius: 7px;
    box-shadow: 3px 5px 4px 1px #3b5998;
  }
  
  .logo2:hover {
    transform: scale(1.2);
    border-radius: 7px;
    box-shadow: 3px 5px 4px 1px #833ab4;
  }
  
  .logo3:hover {
    transform: scale(1.2);
    border-radius: 7px;
    box-shadow: 3px 5px 4px 1px #ff0050;
  }
  
  .logo4:hover {
    transform: scale(1.2);
    border-radius: 7px;
    box-shadow: 3px 5px 3px 1px #2bb741;
  }
  
  .logo5:hover {
    transform: scale(1.2);
    border-radius: 7px;
    box-shadow: 3px 5px 1px 1px #0e76a8;
  }
  
  .logo6:hover {
    transform: scale(1.2);
    border-radius: 7px;
    box-shadow: 3px 5px 4px 1px #171515;
  }
  
  .enlaces img {
    max-width: 50px;
    display: flex;
    transition: filter 0.3s;
  }
  
  .enlaces img:hover {
    filter: brightness(70%);
  }
  
  .informacion-footer {
    display: flex;
    flex-direction: column;
  }
  
  .informacion-footer .infofooter {
    text-decoration: none;
    font-family: var(--letra-principal);
    font-size: var(--subtitulos);
    color: var(--color-secondary);
  }
  
  .informacion-footer img {
    width: 20%;
    margin: 0 auto;
  }
  
  .año {
    font-family: var(--letra-principal);
    font-size: var(--subtitulos);
  }