:root {
  --color-primary: #eeeeee;
  --color-secondary: #000;
  --color-accent: #4e4feb;
  --color-background: #068fff;
  --titulos: 40px;
  --parrafos: 16px;
  --Textos: 14px;
  --subtitulos: 24px;
  --anuncios: 16px;
  --botones: 18px;
  --letra-botones: "Black Ops One", cursive;
  --letra-subtitulos: "Raleway", sans-serif;
  --letra-textos: "Montserrat", sans-serif;
  --letra-anuncios: "Titillium Web", sans-serif;
  --letra-titulos: "Roboto", sans-serif;
  --letra-enlaces: "Exo 2", sans-serif;
  --letra-principal: "New Rocker", cursive;
}

body {
  background-color: var(--color-secondary);
  padding: 0px;
}

/*Header*/
header {
  background-color: var(--color-secondary);
  padding: 0px;
}

main {
  margin: 0 auto;
}
/*Barra de navegación principal*/
.container-nav {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-nav {
  width: 7rem;
  margin-left: 2rem;
}

.navbar-title {
  width: 100%;
  margin-left: 2rem;
}

.container-lista {
  width: 100%;
}

.nav-lista {
  list-style: none;
  display: flex;
  margin: 0 10px;
  padding: 5px 8px;
  gap: 10px;
  height: auto;
  width: auto;
  align-self: center;
}

.nav-item {
  background-color: var(--color-accent);
  color: var(--color-secondary);
  font-size: var(--botones);
  border-radius: 4px 2px 2px;
  border-width: 2px 2px 0px 2px;
  border-style: solid;
  border-color: var(--color-secondary);
  font-size: var(--botones);
  font-family: var(--letra-botones);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 1px 10px;
  margin: 0;
}

.nav-item:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  box-shadow: 0 3px 20px var(--color-background);
  padding: 1px 10px;
}

.nav-item a {
  font-size: 18px;
  max-width: 95%;
}
/*Menu*/
.menu-principal {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/*Habilidades profesionales*/
.barra-hab {
  width: 90%;
  border: 4px solid var(--color-primary);
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 20px auto;
}

#habilidades-profesionales {
  text-align: center;
  font-family: var(--letra-principal);
  font-size: var(--titulos);
  color: var(--color-background);
  margin-top: 5rem;
  text-shadow: 1.5px 2px 2px var(--color-primary);
  letter-spacing: 10px;
}

#habilidades-profesionales:hover {
  font-family: var(--letra-principal);
  font-size: var(--titulos);
  color: var(--color-accent);
  margin: 20px;
  text-shadow: 1.5px 2px 1px var(--color-primary);
}

#titulo-habilidades {
  font-size: var(--subtitulos);
  color: var(--color-secondary);
  font-family: var(--letra-titulos);
  text-shadow: 2px 4px 3px var(--color-background);
  margin-bottom: 10px;
  position: relative;
  bottom: 5px;
  text-decoration: none;
  margin: 20px;
}

.secciones-habilidades {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.habi-digitales {
  background-color: var(--color-accent);
  margin: 0 auto;
  padding: 10px;
  border: solid 3px var(--color-secondary);
  border-radius: 5px;
}

.container-hab {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-accent); /* Ajuste del borde */
  border-radius: 15px;
  margin: 20px;
  padding: 15px;
  display: flex;
  align-self: center;
  position: relative;
}

.container-hab::before {
  content: ""; /* Asegúrate de agregar el contenido vacío */
  position: absolute;
  top: -8px; /* Ajuste de la posición para hacer que la sombra se vea */
  left: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1; /* Para que quede detrás del contenido */
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  border-radius: 15px; /* Debe coincidir con el border-radius del contenedor */
  filter: blur(10px); /* Efecto de desenfoque para simular la sombra */
  opacity: 1.7; /* Ajusta la opacidad para darle un aspecto de sombra */
}

.container-hab .skill-box {
  width: 100%;
  margin: 25px 0;
  display: flex;
}

.skill-box img {
  width: 40px;
  position: relative;
  bottom: 5px;
}

.skill-box .title {
  width: 30%;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-primary);
  margin-left: 5px;
  margin-right: 5px;
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(236, 236, 236, 0.1);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: var(--color-background);
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill-per.html {
  /*progreso de las diferentes lenguajes*/
  width: 70%;
  animation-delay: 0.1s;
}

.skill-per.scss {
  /*progreso de las diferentes lenguajes*/
  width: 60%;
  animation-delay: 0.1s;
}

.skill-per.Boostrap {
  /*progreso de las diferentes lenguajes*/
  width: 50%;
  animation-delay: 0.2s;
}

.skill-per.JavaScript {
  /*progreso de las diferentes lenguajes*/
  width: 10%;
  animation-delay: 0.2s;
}

.skill-per.Phyton {
  /*progreso de las diferentes lenguajes*/
  width: 10%;
  animation-delay: 0.2s;
}
.skill-per.PHP {
  /*progreso de las diferentes lenguajes*/
  width: 30%;
  animation-delay: 0.2s;
}
.skill-per.JAVA {
  /*progreso de las diferentes lenguajes*/
  width: 30%;
  animation-delay: 0.2s;
}

.skill-per.esp {
  /*progreso de las diferentes lenguajes*/
  width: 90%;
  animation-delay: 0.1s;
}

.skill-per.ing {
  /*progreso de las diferentes lenguajes*/
  width: 40%;
  animation-delay: 0.1s;
}
.skill-per.por {
  /*progreso de las diferentes lenguajes*/
  width: 10%;
  animation-delay: 0.1s;
}
.skill-per.Access {
  width: 20%;
  animation-delay: 0.1s;
}
.skill-per.Publisher {
  width: 10%;
  animation-delay: 0.1s;
}
.skill-per.Teams {
  width: 70%;
  animation-delay: 0.1s;
}
.skill-per.Word {
  width: 80%;
  animation-delay: 0.1s;
}
.skill-per.PowerPoint {
  width: 80%;
  animation-delay: 0.1s;
}
.skill-per.Excel {
  width: 80%;
  animation-delay: 0.1s;
}
.skill-per.Project {
  width: 20%;
  animation-delay: 0.1s;
}
.skill-per.OneNote {
  width: 30%;
  animation-delay: 0.1s;
}
.skill-per.OneDrive {
  width: 90%;
  animation-delay: 0.1s;
}
.skill-per.Outlook {
  width: 90%;
  animation-delay: 0.1s;
}
.skill-per.Gmail {
  width: 90%;
  animation-delay: 0.1s;
}
.skill-per.Drive {
  width: 90%;
  animation-delay: 0.1s;
}
.skill-per.Ads {
  width: 70%;
  animation-delay: 0.1s;
}
.skill-per.Analytics {
  width: 40%;
  animation-delay: 0.1s;
}
.skill-per.Figma {
  width: 70%;
  animation-delay: 0.1s;
}
.skill-per.Illustrator {
  width: 40%;
  animation-delay: 0.1s;
}
.skill-per.Photoshop {
  width: 30%;
  animation-delay: 0.1s;
}
.skill-per.Trello {
  width: 60%;
  animation-delay: 0.1s;
}
.skill-per.verbal {
  width: 50%;
  animation-delay: 0.1s;
}
.skill-per.noverbal {
  width: 80%;
  animation-delay: 0.1s;
}
.skill-per.empatía {
  width: 60%;
  animation-delay: 0.1s;
}
.skill-per.resolución {
  width: 70%;
  animation-delay: 0.1s;
}
.skill-per.trabajo {
  width: 60%;
  animation-delay: 0.1s;
}
.skill-per.asertividad {
  width: 60%;
  animation-delay: 0.1s;
}
.skill-per.manejo {
  width: 70%;
  animation-delay: 0.1s;
}
.skill-per.negociación {
  width: 90%;
  animation-delay: 0.1s;
}
.skill-per.persuasión {
  width: 80%;
  animation-delay: 0.1s;
}
.skill-per.escucha {
  width: 60%;
  animation-delay: 0.1s;
}
.skill-per.autocontrol {
  width: 60%;
  animation-delay: 0.1s;
}
.skill-per.adaptabilidad {
  width: 90%;
  animation-delay: 0.1s;
}
@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: var(--color-secondary);
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 3px;
  background: rgb(226, 226, 226);
  z-index: 1;
  opacity: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: rgb(226, 226, 226);
  transform: translateX(-50%) rotate(45deg);
}

.hab-sociales {
  background-color: var(--color-accent);
  margin: 0 auto;
  padding: 10px;
  border: solid 3px var(--color-secondary);
  border-radius: 5px;
}

.parrafohabi {
  margin-top: 10px;
  font-family: var(--letra-subtitulos);
  font-size: var(--subtitulos);
  text-shadow: 2px 4px 3px var(--color-secondary);
  color: var(--color-primary);
}

.parrafohabil {
  margin-top: 10px;
  font-family: var(--letra-subtitulos);
  font-size: var(--subtitulos);
  text-shadow: 2px 4px 3px var(--color-secondary);
  color: var(--color-primary);
}

/* Footer */

#contactos {
  width: 100%;
  overflow: hidden;
  background: var(--color-secondary);
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#contactos:hover {
  background-color: var(--color-background);
  color: var(--color-secondary);
  box-shadow: 0px -5px 10px var(--color-primary);
  overflow-x: hidden;
}

.enlaces-footer {
  width: 30%;
  font-family: var(--letra-enlaces);
  font-size: var(--parrafos);
  text-decoration: none;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.enlaces-footer img {
  width: 100%;
}

.logo1:hover {
  transform: scale(1.2);
  border-radius: 7px;
  box-shadow: 3px 5px 4px 1px #3b5998;
}

.logo2:hover {
  transform: scale(1.2);
  border-radius: 7px;
  box-shadow: 3px 5px 4px 1px #833ab4;
}

.logo3:hover {
  transform: scale(1.2);
  border-radius: 7px;
  box-shadow: 3px 5px 4px 1px #ff0050;
}

.logo4:hover {
  transform: scale(1.2);
  border-radius: 7px;
  box-shadow: 3px 5px 3px 1px #2bb741;
}

.logo5:hover {
  transform: scale(1.2);
  border-radius: 7px;
  box-shadow: 3px 5px 1px 1px #0e76a8;
}

.logo6:hover {
  transform: scale(1.2);
  border-radius: 7px;
  box-shadow: 3px 5px 4px 1px #171515;
}

.enlaces img {
  max-width: 50px;
  display: flex;
  transition: filter 0.3s;
}

.enlaces img:hover {
  filter: brightness(70%);
}

.informacion-footer {
  display: flex;
  flex-direction: column;
}

.informacion-footer .infofooter {
  text-decoration: none;
  font-family: var(--letra-principal);
  font-size: var(--subtitulos);
  color: var(--color-secondary);
}

.informacion-footer img {
  width: 20%;
  margin: 0 auto;
}

.año {
  font-family: var(--letra-principal);
  font-size: var(--subtitulos);
}
