:root {
  --color-primary: #eeeeee;
  --color-secondary: #000;
  --color-accent: #4e4feb;
  --color-background: #068fff;
  --titulos: 40px;
  --parrafos: 16px;
  --Textos: 14px;
  --subtitulos: 24px;
  --anuncios: 16px;
  --botones: 18px;
  --letra-botones: "Black Ops One", cursive;
  --letra-subtitulos: "Raleway", sans-serif;
  --letra-textos: "Montserrat", sans-serif;
  --letra-anuncios: "Titillium Web", sans-serif;
  --letra-titulos: "Roboto", sans-serif;
  --letra-enlaces: "Exo 2", sans-serif;
  --letra-principal: "New Rocker", cursive;
}

html, body {
  overflow-x: hidden;
}

body.container-fluid {
  background-color: var(--color-secondary);
  padding: 0px;
}

/***HEADER***/

/*Barra de navegación principal*/
.container-nav {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-nav {
  width: 7rem;
  margin-left: 2rem;
}

.navbar-title {
  width: 100%;
  margin-left: 2rem;
  font-family: var(--letra-principal);
  text-shadow: 2px 4px 3px var(--color-secondary);
  -webkit-text-stroke: 1px var(--color-accent);
  font-size: 20px;
  
}

.navbar-title b{
  font-weight: 500;
}
.container-lista {
  width: 100%;
}

.nav-lista {
  list-style: none;
  display: flex;
  margin: 0 10px;
  padding: 5px 8px;
  gap: 10px;
  height: auto;
  width: auto;
  align-self: center;
}

.nav-item {
  background-color: var(--color-accent);
  color: var(--color-secondary);
  font-size: var(--botones);
  border-radius: 5px;
  border: 3px solid;
  border-color: var(--color-secondary);
  font-family: var(--letra-botones);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0px 13px;
  margin: 5px;
}

.nav-item:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  box-shadow: 0 3px 20px var(--color-background);
  padding: 1px 10px;
  border: 1px solid var(--color-background);
}

.nav-item a {
  font-size: 18px;
  max-width: 100%;
}

.dropdown-menu{
  background-color: var(--color-secondary);
  margin: 2px;
  padding: 5px;
  border: 2px solid var(--color-primary);
  width: 90%;
}

.dropdown-item{
  padding: 2px;
}

.offcanvas-title {
  font-family: var(--letra-principal);
  text-shadow: 2px 4px 3px var(--color-secondary);
  -webkit-text-stroke: 1px var(--color-accent);
  font-size: 20px;
}
/*Banner principal*/
section .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedores-hero {
  display: flex;
  align-items: center;
  margin: 10px;
}

#hero {
  background-image: url(../assets/images/Portadas/smart-4308821_1920.jpg);
  background-size: cover;
  box-shadow: 0px 0px 20px var(--color-background);
  background-position: center;
  overflow: hidden;
  height: auto;
}

.seccion-informacion, .seccion-principal, .seccion-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 100%;
}

/*Sección principal del hero*/
h1 {
  letter-spacing: 4px;
  text-shadow: -2px -3px 1px var(--color-primary);
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-background);
  font-family: var(--letra-principal);
  padding-top: 4rem;
  -webkit-text-stroke: 2px var(--color-secondary); /* Contorno usando la propiedad -webkit-text-stroke */
}

h1:hover {
  color: var(--color-primary);
  text-shadow: 3px 1px 2px var(--color-primary);
  scale: 1.1;
}

.perfil {
  width: 100%;
  margin: 10px;
}

.foto {
  height: 350px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-box-shadow: 1px 10px 32px -1.5px var(--color-background);
  -moz-box-shadow: 1px 10px 32px -1.5px var(--color-background);
  box-shadow: 1px 10px 32px -1.5px var(--color-background);
}

.subtitulo {
  width: 100%;
  text-align: center;
  font-size: var(--subtitulos);
  color: var(--color-primary);
  letter-spacing: 2px;
  font-family: var(--letra-principal);
  text-shadow: 3px 6px 8px var(--color-secondary);
  z-index: 1;
  -webkit-text-stroke: 1px var(--color-secondary);
  font-size: 30px;
}

.subtitulo p{
  margin-bottom: 1rem;
  margin-top: 0;
}

/*Seccióin de descripción*/
.button {
  transform: translate(-50%, -50%);
  width: 25%;
  height: 10px;
}

.button a {
  display: block;
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary);
  font-family: var(--letra-botones);
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #00b7ea),
    color-stop(100%, #009ec3)
  );
  background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  background: -o-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  background: -ms-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  background: linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
}

.button b {
  background: #222;
  display: block;
  height: 40px;
  width: 180px;
  margin: -50px 0 0 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: var(--letra-enlaces);
  font-size: var(--parrafos);
  color: #fff;
  position: absolute;
  z-index: -1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button a,
b {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.button:hover .top {
  margin: -80px 0 0 10px;
  line-height: 35px;
}

.button:hover .bottom {
  margin: -10px 0 5px 10px;
  display: flex;
  align-items: center;
}

.button a:active {
  background: #00b7ea;
  background: -moz-linear-gradient(top, #00b7ea 36%, #009ec3 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(36%, #00b7ea),
    color-stop(100%, #009ec3)
  );
  background: -webkit-linear-gradient(top, #00b7ea 36%, #009ec3 100%);
  background: -o-linear-gradient(top, #00b7ea 36%, #009ec3 100%);
  background: -ms-linear-gradient(top, #00b7ea 36%, #009ec3 100%);
  background: linear-gradient(top, #00b7ea 36%, #009ec3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
}

.button:active .bottom {
  margin: -20px 0 0 10px;
}

.button:active .top {
  margin: -70px 0 0 10px;
}

/*Sección información*/
.informacion {
  position: relative;
  width: 300px;
  height: 200px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-bottom: 25px;
  font-size: var(--parrafos);
  font-family: var(--letra-subtitulos);
}

.informacion img {
  width: 17rem;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.informacion:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.inf-principal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--color-background);
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.informacion:hover .inf-principal {
  transform: rotateX(0deg);
  border-radius: 10px;
}

.card__title {
  text-align: center;
  font-family: var(--letra-titulos);
  color: var(--color-secondary);
  text-shadow: 0 2px 5px var(--color-primary);
  text-decoration: underline;
  font-size: var(--subtitulos);
}

.informacion:hover img {
  scale: 0;
}

.card__description {
  text-align: center;
  font-size: var(--Textos);
  font-family: var(--letra-subtitulos);
  color: var(--color-secondary);
  line-height: 1.2;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}
.card-buton img {
  height: 39px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 2px 3px 1px 1px var(--color-background);
}

.card-buton {
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  height: 50px;
  width: 200px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(2px);
  border-radius: 10px;
}

.card-buton::before,
.card-buton::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
}

.card-buton::before {
  content: "";
  left: 0;
  justify-content: flex-end;
  background-color: var(--color-accent);
}

.card-buton::after {
  content: "";
  right: 0;
  justify-content: flex-start;
  background-color: #4453a6;
}

.card-buton:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-buton:hover span {
  opacity: 0;
  z-index: -3;
}

.card-buton:hover::before {
  opacity: 0.5;
  transform: translateY(-100%);
}

.card-buton:hover::after {
  opacity: 0.5;
  transform: translateY(100%);
}

.card-buton span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--color-secondary);
  font-family: var(--letra-botones);
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
}

.card-buton .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
}

.card-buton .social-link:hover {
  background-color: var(--color-background);
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.card-buton2 img {
  height: 39px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 2px 3px 1px 1px var(--color-background);
}

.card-buton2 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  height: 50px;
  width: 150px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(2px);
  border-radius: 10px;
}

.card-buton2::before,
.card-buton2::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
}

.card-buton2::before {
  content: "";
  left: 0;
  justify-content: flex-end;
  background-color: var(--color-accent);
}

.card-buton2::after {
  content: "";
  right: 0;
  justify-content: flex-start;
  background-color: #4453a6;
}

.card-buton2:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-buton2:hover span {
  opacity: 0;
  z-index: -3;
}

.card-buton2:hover::before {
  opacity: 0.5;
  transform: translateY(-100%);
}

.card-buton2:hover::after {
  opacity: 0.5;
  transform: translateY(100%);
}

.card-buton2 span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--color-secondary);
  font-family: var(--letra-botones);
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
}

.card-buton2 .social-link2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
}

.card-buton2 .social-link2:hover {
  background-color: var(--color-background);
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.p-Descarga {
  position: relative;
  justify-content: center;
  color: var(--color-primary);
  font-family: var(--letra-subtitulos);
  font-size: var(--subtitulos);
}

.btn-Descarga {
  background-color: var(--color-background);
  color: var(--color-secondary);
  font-size: var(--botones);
  border-radius: 6px;
  border: 1px var(--color-background) solid;
  font-size: 20px;
  font-family: var(--letra-botones);
}

/*Menu*/
.menu-principal {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/*Botones principales para el acceso rapido*/
.botones-principal {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  align-self: center;
}

.nav-botones {
  background-color: var(--color-secondary);
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  border: 2px var(--color-background) solid;
  border-radius: 5px;
  gap: 10px;
  position: relative;
  top: -15px;
  box-shadow: 0px 2px 5px var(--color-background);
  padding: 2px;
}

.botones {
  background-color: var(--color-background);
  font-size: var(--botones);
  font-family: var(--letra-botones);
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
  border: 1px var(--color-primary) solid;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--color-secondary);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  text-decoration: none;
  cursor: pointer;
  padding: 1px 10px;
  margin: 5px;
}

.botones:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: var(--color-secondary);
  z-index: -1;
  border-radius: 6px;
}

.botones:hover,
.botones:focus {
  color: var(--color-background);
  border: 1px var(--color-primary) solid;
}

.botones:hover:before,
.botones:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.botones:active {
  transform: scale(0.9);
}

.barra-des {
  width: 95%;
  border: 3px solid var(--color-primary);
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px auto;
  bottom: 5px;
}

/*Sección 1 de presentación personal*/
.bloque-descriptivo1{
  display: flex;
  justify-content: space-between;
  height: 30rem;
  margin: 10px;
}

.contenedor-descripcion {
  max-width: 65%;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-accent); /* Ajuste del borde */
  border-radius: 15px;
  margin: 20px;
  padding: 15px;
  display: flex;
  align-self: center;
  position: relative; /* Necesario para el pseudo-elemento */
}

.contenedor-descripcion::before {
  content: ''; /* Asegúrate de agregar el contenido vacío */
  position: absolute;
  top: -8px; /* Ajuste de la posición para hacer que la sombra se vea */
  left: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1; /* Para que quede detrás del contenido */
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  border-radius: 15px; /* Debe coincidir con el border-radius del contenedor */
  filter: blur(10px); /* Efecto de desenfoque para simular la sombra */
  opacity: 1.7; /* Ajusta la opacidad para darle un aspecto de sombra */
}

.Descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.titulo-descripcion {
  font-size: var(--subtitulos);
  color: var(--color-primary);
  font-family: var(--letra-titulos);
  text-shadow: 2px 4px 3px var(--color-background);
  margin: 20px;
}

.parrafog {
  width: 100%;
  padding: 10px;
  color: var(--color-primary);
  background-color: transparent;
  font-family: var(--letra-textos);
  transition: background-color 0.6s ease;
}

.contenedor-mapa{
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.titulomapa{
  text-align: center;
  font-size: var(--titulos);
  color: var(--color-primary);
  font-family: var(--letra-titulos);
  text-shadow: 2px 4px 3px var(--color-background);
  margin: 5px;
}

.mapa-sudamerica {
  background-color: transparent;
  width: 100%;
  max-width: 800px;
  position: relative;
}

.tooltip {
  position: absolute;
}

#country-name{
  font-size: var(--subtitulos);
  color: var(--color-primary);
  font-family: var(--letra-titulos);
  text-shadow: 2px 4px 3px var(--color-background);
  margin: 5px;
  padding-left: 10px;
}

#info-box p{
  color: var(--color-primary);
  margin: 5px;
  font-family: var(--letra-textos);
  font-size: 15px;
}

.country {
  fill: var(--color-secondary);
  stroke: var(--color-primary);
  stroke-width: 2;
  cursor: pointer;
  
}

.country:hover {
  fill: var(--color-background);
}

.visited {
  fill: var(--color-accent);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
}

/*Sección 2 de servicios y habilidades*/
.bloque-descriptivo2{
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.cards .red {
  background-color: #FF3D73;
  box-shadow: 3px -4px 4px -3px var(--color-primary);
}

.cards .blue {
  background-color: #1E90FF;
  box-shadow: 3px -4px 4px -3px var(--color-primary);
}

.cards .green {
  background-color: #A500FF;
  box-shadow: 3px -4px 4px -3px var(--color-primary);
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  text-align: center;
  height: 125px;
  width: 300px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 400ms;
  border: 1px solid var(--color-secondary);
  padding: 10px;
}

.cards .card p.tip {
  font-size: var(--Textos);
  font-family: var(--letra-subtitulos);
  color: var(--color-secondary);
  font-weight: 700;
  text-shadow: 0px 1px 2px var(--color-primary);
  margin: 0;
}

.cards .card p.second-text {
  margin: 0;
  padding-top:10px ;
  font-size: 0.7em;
  font-family: var(--letra-anuncios);
  text-shadow: 0px 2px 2px var(--color-secondary);
  color: var(--color-primary);
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

/* Sección 3 Reseñas y experiencias*/
.bloque-descriptivo3{
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.tarjetareseñas {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.tarjetareseñas::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tarjetareseñas::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.tarjetareseñas p:not(.heading) {
  font-size: 14px;
}

.tarjetareseñas p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.tarjetareseñas:hover::after {
  filter: blur(30px);
}

.tarjetareseñas:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

/* Footer */

#contactos {
  width: 100%;
  overflow: hidden;
  background: var(--color-secondary);
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#contactos:hover {
  background-color: var(--color-background);
  color: var(--color-secondary);
  box-shadow: 0px -5px 10px var(--color-primary);
  overflow-x: hidden;
}

.enlaces-footer {
  width: 30%;
  font-family: var(--letra-enlaces);
  font-size: var(--parrafos);
  text-decoration: none;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.enlaces-footer img {
  width: 100%;
}

.logo1:hover {
  transform: scale(1.2);
  border-radius: 7px;
  box-shadow: 3px 5px 4px 1px #3b5998;
}

.logo2:hover {
  transform: scale(1.2);
  border-radius: 7px;
  box-shadow: 3px 5px 4px 1px #833ab4;
}

.logo3:hover {
  transform: scale(1.2);
  border-radius: 7px;
  box-shadow: 3px 5px 4px 1px #ff0050;
}

.logo4:hover {
  transform: scale(1.2);
  border-radius: 7px;
  box-shadow: 3px 5px 3px 1px #2bb741;
}

.logo5:hover {
  transform: scale(1.2);
  border-radius: 7px;
  box-shadow: 3px 5px 1px 1px #0e76a8;
}

.logo6:hover {
  transform: scale(1.2);
  border-radius: 7px;
  box-shadow: 3px 5px 4px 1px #171515;
}

.enlaces img {
  max-width: 50px;
  display: flex;
  transition: filter 0.3s;
}

.enlaces img:hover {
  filter: brightness(70%);
}

.informacion-footer {
  display: flex;
  flex-direction: column;
}

.informacion-footer .infofooter {
  text-decoration: none;
  font-family: var(--letra-principal);
  font-size: var(--subtitulos);
  color: var(--color-secondary);
}

.informacion-footer img {
  width: 20%;
  margin: 0 auto;
}

.año {
  font-family: var(--letra-principal);
  font-size: var(--subtitulos);
}

/*Responsive config*/
@media screen and (min-width: 801px) and (max-width: 1240px) {
  .navbar-toggler {
    position: relative;
    left: 0px;
  }
  .hero-content {
    flex-direction: column;
  }
  .perfil {
    order: 1;
  }
  .btn-group {
    display: flex;
    flex-direction: column;
  }

  .Botones {
    flex-direction: column;
    text-align: center;
  }

  .Botones a {
    margin: 5px 0;
    display: block;
  }

  .nav-lista {
    flex-direction: column;
    text-align: center;
  }

  #carouselCursoscortos {
    padding: 10px;
  }

  .carousel-controluno-prev,
  .carousel-controluno-next {
    display: none;
  }

  .carousel-controldos-prev,
  .carousel-controldos-next {
    display: none;
  }
  .carousel-controltres-prev,
  .carousel-controltres-next {
    display: none;
  }
  .carousel-controlcuatro-prev,
  .carousel-controlcuatro-next {
    display: none;
  }

  .Experiencia {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .cardpapa {
    width: 60%;
  }

  .Proceso {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .tarjeta {
    width: 100%;
  }

  .investigacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .contactos {
    width: 100%;
  }
  .enlaces {
    display: flex;
    flex-direction: column;
  }

  #estudios-profesionales,
  #habilidades-profesionales,
  #Experiencia-laboral {
    text-align: center;
  }
}

@media screen and (min-width: 220px) and (max-width: 800px) {
  .navbar-toggler {
    position: relative;
    left: 0px;
  }

  .hero-content {
    flex-direction: column;
  }

  .perfil {
    order: 1;
  }

  .informacion {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    order: 2;
    margin: 0 auto;
  }

  .descripcion {
    order: 3;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
  }

  .Botones {
    flex-direction: column;
    text-align: center;
  }

  .Botones a {
    margin: 5px 0;
    display: block;
  }

  .nav-lista {
    flex-direction: column;
    text-align: center;
  }
  #carouselCursoscortos {
    padding: 10px;
    height: 100%;
  }

  .carousel-inner {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .containercursos {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    height: 300px;
  }

  .carousel-controluno-prev,
  .carousel-controluno-next {
    display: none;
  }

  .carousel-controldos-prev,
  .carousel-controldos-next {
    display: none;
  }
  .carousel-controltres-prev,
  .carousel-controltres-next {
    display: none;
  }
  .carousel-controlcuatro-prev,
  .carousel-controlcuatro-next {
    display: none;
  }

  .Experiencia {
    display: flex;
    flex-direction: column;
  }

  .Proyectos {
    justify-content: center;
    align-items: center;
  }
  .cardpapa {
    width: 80%;
  }
  .Proceso {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .investigacion {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .tarjeta {
    width: 100%;
  }
  .contactos {
    width: 100%;
  }
  .enlaces {
    display: flex;
    flex-direction: column;
  }

  #estudios-profesionales,
  #habilidades-profesionales,
  #Experiencia-laboral {
    text-align: center;
  }
}
